<div class="container">
  <div class="row">
    <div class="col-auto ml-auto">
      <nav>
        <ul>
          <li>
            <button (click)="resetFilter()">View All</button>
          </li>
          <ng-container *ngIf="decades">
            <li *ngFor="let decade of decades | keyvalue">
              <button (click)="filterDecade(decade.key)">{{decade.key}}s ({{decade.value}})</button>
            </li>
          </ng-container>
        </ul>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ul id="movie-list">
        <li *ngFor="let movie of moviesToDisplay">
          <app-movie [movie]="movie"></app-movie>
        </li>
      </ul>
    </div>
  </div>
</div>