@import 'shared';

.movie{
  background: $gray-200;
  padding: 20px;
  border-radius: 5px;
  margin: 10px 0;
  border: 1px solid $gray-800;
  img.movie-poster{
    border-radius: 5px;
    width: 100%;
  }
  h3.title{
    padding: 0 0 5px 0;
    border-bottom: 1px solid $gray-600;
    @include media-breakpoint-down(sm) {
      padding-top: 10px;
    }
  }
  .rated p{
    border: 1px solid $gray-600;
    padding: 0px 10px;
    border-radius: 5px;
    color: $gray-600;;
  }
  .plot p{
    font-size: 1.1  em;
  }
  .imdb-link button{
    color: white;
  }
}