<article class="movie" [id]="movie.imdbID">
  <div class="row">
    <div class="col-md-3">
      <img class="movie-poster" [src]="movie.Poster" [alt]="movie.Title">
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-12">
          <h3 class="title">{{movie.Title}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-auto col-auto">
          <div class="rated">
            <p>{{movie.Rated}}</p>
          </div>
        </div>
        <div class="col-md-auto col-auto">
          <div class="runtime">
            <p>{{movie.Runtime}}</p>
          </div>
        </div>
        <div class="col-md-auto col-sm-12 ml-auto">
          <div class="release">
            <p>{{movie.Released}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="plot">
            <p>{{movie.Plot}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-auto ml-auto">
          <a target="_blank" [href]="imdbMovieURL" class="imdb-link">
            <button class="btn btn-warning btn-block">View on IMDB</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</article>